.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
.header__logo {
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 576px) {
  .header {
    padding-left: 1.69rem;
  }
  .header__logo {
    margin-bottom: 32px;
    width: 7.875rem;
  }
}
