.profile {
  color: white;
  font-family: Inter;
  display: flex;
  align-items: center;
  margin: 40px auto 50px;
}
.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}
.profile__name {
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  margin-right: 18px;
  display: inline;
}
.profile__about{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 16px 0;
}
.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../images/icon/edit-button.svg);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.profile__edit-button:hover {
  opacity: 0.6;
}
.profile__add-button {
  width: 150px;
  height: 50px;
  background-image: url(../images/icon/add-button.svg);
  background-color: transparent;
  border: none;
  justify-content: end;
  margin-left: auto;
  cursor: pointer;
}
.profile__add-button:hover {
  opacity: 0.6;
}
